@page "/FetchData"

@using Blazor.Extensions.Canvas
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas.Canvas2D;
@using EndPointGuiTest.Data;

<h1>Here be the data</h1>

<h2>linear line chart</h2>

<LinearLineChartComponent/>
